<!-- Generate icon by yourself https://icomoon.io/app/#/select -->
{% if site.twitter %}
  <a href="https://twitter.com/{{ site.twitter }}" class="sidebar-social-icon twitter" target="_blank"></a>
{% endif %}

{% if site.weibo %}
  <a href="http://www.weibo.com/{{ site.weibo }}" class="sidebar-social-icon weibo" target="_blank"></a>
{% endif %}

{% if site.github %}
  <a href="https://github.com/{{ site.github }}" class="sidebar-social-icon github" target="_blank"></a>
{% endif %}

{% if site.linkedin %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin }}" class="sidebar-social-icon linkedin" target="_blank"></a>
{% endif %}

{% if site.instagram %}
  <a href="https://www.instagram.com/{{ site.instagram }}" class="sidebar-social-icon instagram" target="_blank"></a>
{% endif %}

{% if site.comment_gitment_repo %}

<div id="gitmentContainer"></div>
<!-- <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<script>
    var gitment = new Gitment({
        owner: '{{site.author}}',
        repo: '{{site.comment_gitment_repo}}',
        oauth: {
            client_id: '{{site.comment_gitment_clientId}}',
            client_secret: '{{site.comment_gitment_clientSecret}}',
        },
    });
    gitment.render('gitmentContainer')
</script>
{% endif %}